/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Estilos del encabezado */
  header {
    background-color: #0058a8;
    padding: 2px;
    text-align: center;
    position:sticky;
    top: 0;
    width: 100%;
  }
  
  header h1 {
    color: #ffffff;
    margin: 0;
  }
  
  nav ul {
    background-color: #0058a8;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
   

  /* Estilos del contenido principal */
  main {
    padding: 20px;
    margin-top: 10%;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }  
  /* Estilos específicos */
  #inicio {
    background-color: #f0f0f0;
  }
  #imglogo{
    width: 100%;
  }
  
  #servicios ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  #doctores ul {
    list-style-type: square;
    margin-left: 20px;
  }
  .carousel-item img {
    width: 100%;
    object-fit: contain;
  }


  /* Estilos para el logo del consultorio */
  link[rel="icon"] {
    width: 50px;
    height: 50px;
    /* Otros estilos personalizados */
  }
  /* Configuración de propiedades para parrafos */
  p{
    text-align: justify;
  }
  .htext{
    color: #ffffff;
    /* Estilos de redes sociales */
  }
  .redes_sociales{
    width: 25px;
    height: 25px;
  }
  .icono_body{
    width: 15px;
    height: 15px;
  }
  a:hover {
    color: rgb(168, 187, 0);
    transition: background-color .5s;
  }
  a:active {
    color: yellow;
  }
  .color_titulos_body{
    color: #0058a8;
  }
  /* Estilos de contacto*/
  .contacto{
    background-color:rgb(218, 238, 255);
    border-radius: 8px;
    width: 10%;
  }
  iframe{
    border-radius: 0px 8px 8px 0px;
    height: 100%;
  }

  /* Estilos para dispositivos iPad */
  
  @media only screen and (min-width: 768px) and (max-width: 900px) {
    header {background-color: rgb(25, 37, 88);
        padding: 1px;
        text-align: center;
        position:sticky;
        top: 0;
        width: 100%;}
        nav ul {
            background-color: rgb(25, 37, 88);
            list-style: none;
            padding: 0;
            margin: 0;
          }
          
          nav ul li {
            display: inline;
            margin-right: 1px;
  }
  }
  
  /* Estilos para dispositivos iPhone */
  @media only screen and (max-width: 767px) { 
    header {background-color: rgb(0, 11, 162);
        padding: 1px;
        text-align: center;
        position:sticky;
        top: 0;
        width: 100%;}
        nav ul {
            background-color: rgb(0, 11, 162);
            list-style: none;
            padding: 0;
            margin: 0;
          }
          
          nav ul li {
            display: inline;
            margin-right: 1px;
  }
}

  /* Estilos para dispositivos PC */
  @media only screen and (min-width: 901px) {
    
  }
 
  