/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #0058a8;
  }
  
  a {
    text-decoration: none;
    color: #00c0f2;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #0058a8;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #ffffff;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos específicos */
  #inicio {
    background-color: #f0f0f0;
  }
  
  #servicios ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  #doctores ul {
    list-style-type: square;
    margin-left: 20px;
  }
  .carousel-item img {
    height: 500px;
    object-fit: contain;
  }


/* Estilos para el logo del consultorio */
link[rel="icon"] {
    width: 50px;
    height: 50px;
    /* Otros estilos personalizados */
  }